{% load static %}

<footer class="main-footer normal-padding">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--Column-->
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="widget-content">
                            <div class="logo">
                                <a href="#"><img id="fLogo" src="{% static 'images/update-01-10-2021/synkisol-logo.png' %}" height="50px" width="200px" alt="Synkiol Synergy Solution Logo" /></a>
                            </div>
                            <div class="text">Welcome to Synkisol Synergy Solution. Trusted Kitchen Solutions Provider</div>
                            <ul class="social-links clearfix">
                                <li><a href="https://www.facebook.com/synkisol" target="_blank"><span class="fab fa-facebook-square"></span></a></li>
                                <!-- <li><a href="https://www.instagram.com/synkisol" target="_blank"><span class="fab fa-twitter"></span></a></li> -->
                                <li><a href="https://www.instagram.com/synkisol" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#" target="_blank"><span class="fab fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <h6>Explore</h6>
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <!-- <li><a href="#">Meet Our Team</a></li> -->
                                        <li><a href="#">Our Projects</a></li>
                                        <li><a href="#">Service</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms of Use</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget info-widget">
                        <div class="widget-content">
                            <h6>Contact</h6>
                            <ul class="contact-info">
                                <li class="address"><span class="icon flaticon-pin-1"></span>Nairobi, Kenya</li>
                                <li><span class="icon flaticon-call"></span><a href="tel:+254742690110">+254 742 690 110</a></li>
                                <li><span class="icon flaticon-email-2"></span><a
                                        href="mailto:info@synkisol.co.ke">info@synkisol.co.ke</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <!-- <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <div class="widget-content">
                            <h6>Newsletter</h6>
                            <div class="newsletter-form">
                                <form method="POST" action="http://codecreativesconsultants.com">
                                    <div class="form-group clearfix">
                                        <input type="email" name="email" value="" placeholder="Email Address"
                                            required="">
                                        <button type="submit" class="theme-btn"><span
                                                class="fa fa-envelope"></span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="text">Sign up for our latest news & articles. We won&#8217;t give you spam
                                mails.</div>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="copyright">&copy; {% now 'Y' %} Synkisol Synergy Solutions, All Rights Reserved. Developed by <a
                    href="http://codecreativesconsultants.com" target="_blank">Code Creatives Consultants</a></div>
            </div>
        </div>
    </div>

</footer>