{% extends 'base.html' %}

{% block title %} Project {% endblock %}
{% block keywords %} Project Keywords {% endblock %}
{% block description %} Project Description {% endblock %}

{% block content %}

{% load static %}

<!-- Banner Section -->
<section class="page-banner">
    <div class="image-layer" style="background-image:url({% static 'images/background/image-7.jpg' %});"></div>
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Portfolio</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="active">Portfolio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!-- Gallery Section -->
<section class="gallery-section">
    <div class="auto-container">
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <div class="filter-list row">
                <!-- Gallery Item -->
                {% for rs in projects %}
                <div class="gallery-item mix all web-design col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image"><img src="{{ rs.image.url }}" height="370px" width="426px" alt="{{ rs.alt }}"></figure>
                        <a href="{{ rs.image.url }}" class="lightbox-image overlay-box"
                            data-fancybox="gallery"></a>
                        <div class="cap-box">
                            <div class="cap-inner">
                                <div class="cat"><span>{{ rs.service }}</span></div>
                                <div class="title">
                                    <h5><a href="{{ rs.get_absolute_url }}">{{ rs.title }}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% comment %} <div class="more-box">
                <a class="theme-btn btn-style-one" href="portfolio.html">
                    <i class="btn-curve"></i>
                    <span class="btn-title">Load more work</span>
                </a>
            </div> {% endcomment %}
        </div>

    </div>
</section>

{% endblock %}