{% load static %}

<header class="header-eight">
    <div class="header-eight__topbar">
        <div class="auto-container">
            <ul class="header-eight__topbar__info">
                <li>
                    <i class="flaticon-email-2"></i>
                    <a href="mailto:info@synkisol.co.ke">info@synkisol.co.ke</a>
                </li>
                <li>
                    <i class="flaticon-pin-1"></i>
                    Nairobi, Kenya
                </li>
            </ul><!-- /.header-eight__info -->
            <div class="header-eight__topbar__right">
                <p>Welcome to Synkisol Synergy Solutions.</p>
                <div class="header-eight__topbar__social">
                    <!-- <a href="#" class="fab fa-twitter"></a> -->
                    <a href="https://www.facebook.com/synkisol" target="_blank" class="fab fa-facebook"></a>
                    <a href="#" target="_blank" class="fab fa-linkedin"></a>
                    <a href="https://www.instagram.com/synkisol" target="_blank" class="fab fa-instagram"></a>
                </div><!-- /.header-eight__social -->
            </div><!-- /.header-eight__right -->
        </div><!-- /.auto-container -->
    </div><!-- /.header-eight__topbar -->
